@model BattleShip.Repository.ViewModels.PlayerBattlesViewModel

@{
    ViewBag.Title = "Battles";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/koBattles")
}

<h2>Battles</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BattleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartUtcDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: battles">
        <tr>
            <td data-bind="text: battleId"></td>
            <td data-bind="text: player"></td>
            <td data-bind="text: opponent"></td>
            <td data-bind="text: startUtcDateTime"></td>
            <td data-bind="text: duration"></td>
            <td>
                <span data-bind="if: winner">
                    <span data-bind="if: winner==player">
                        <span data-bind="text: winner" class="label label-success"></span>
                    </span>
                    <span data-bind="if: winner==opponent">
                        <span data-bind="text: winner" class="label label-danger"></span>
                    </span>
                </span>
            </td>
            <td data-bind="ifnot: winner">
            <a data-bind="attr: { 'href': $parent.resumeBattle(battleId)}" class="btn btn-xs btn-info">Resume battle</a>
        </tr>
    </tbody>
</table>